html {
  font-size: 100%;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1rem;
  font-family: "lato", sans-serif;
  color: #444;
  background-color: #fefaef;
}
form {
  margin: 2rem auto;
  max-width: 900px;
  padding: 2rem;
}
.input-large {
  font-size: 1.8rem;
}