.header {
    height: 70px;
    background-color: rgb(83, 177, 212);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
  
.logo {
    height: 60px;
    max-width: 100%;
    object-fit: contain;
  }
  
.siteTitle {
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.1s ease;
  }

.leftSide {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  
  /* Hover effect */
.siteTitle:hover {
    text-decoration: underline;
  }
  
  /* Pressed animation */
.siteTitle:active {
    transform: scale(0.97);
    color: rgb(203, 203, 203);
  }
  

  @media (max-width: 768px) {
    .header {
      height: auto;
      padding: 1rem;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .logo {
      height: 40px;
    }
  
    .siteTitle {
      font-size: 1.6rem;
    }
  }
  

  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  